{
	"presets": [
		"module:metro-react-native-babel-preset",
		"@babel/preset-typescript"
	],
	"plugins": [
		[
			"module-resolver",
			{
				"root": [
					"./src"
				],
				"alias": [
					{
						"@assets": "./src/assets/"
					},
					{
						"@components": "./src/components"
					},
					{
						"@constants": "./src/constants"
					},
					{
						"@contexts": "./src/contexts"
					},
					{
						"@api": "./src/constants/api"
					},
					{
						"@context": "./src/context"
					},
					{
						"@hooks": "./src/hooks"
					},
					{
						"@navigators": "./src/navigators"
					},
					{
						"@screens": "./src/screens"
					},
					{
						"@services": "./src/services"
					},
					{
						"@types": "./src/types"
					},
					{
						"@utils": "./src/utils/"
					}
				],
				"extensions": [
					".js",
					".jsx",
					".ts",
					".tsx"
				]
			}
		],
		"react-native-reanimated/plugin"
	]
}